{% extends 'templates_base/base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block home_css %}
    <link rel="stylesheet" href="{% static 'static_home/static_home_css/home.css' %}">
{% endblock home_css %}



{% block home_page %}

    <div class="row ms-2 me-2 text-center " id="homepage_row">

        <!--carousel and modules -->
        <div class="col-lg-8 col-md-12 col-sm-12 " id="homepage_row_column1">

            <!--carousel -->
            <div class="carousel slide P-2 mt-4 mb-4 ms-2 me-1" id="carouselExampleCaptions"  data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <video class="img-fluid" autoplay loop muted>
                      <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                      <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                      <source
                        src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"
                        type="video/mp4"/>
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--modules -->
            <div class="row P-2  mb-4 ms-2 me-1 d-flex justify-content-around"  id="homepage_row_column1_row2">

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'patients'%}">
                    <i class="bi bi-person-fill " ></i><br></a>
                    <h6 id="button_homepage_module_title">Patient</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'doctors'%}">
                        <i class="bi bi-person-add"></i></a>
                    <h6 id="button_homepage_module_title">Doctor</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'hospitals'%}">
                        <i class="bi bi-hospital-fill"></i></a>
                    <h6 id="button_homepage_module_title">Hospital</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'diagnosiss'%}">
                        <i class="bi bi-hospital"></i></a>
                    <h6 id="button_homepage_module_title">Diagnosis</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'pharmacys'%}">
                        <i class="bi bi-capsule-pill"></i></a>
                    <h6 id="button_homepage_module_title">Pharmacy</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'ambulances'%}">
                        <i class="bi bi-car-front" href="{% url 'ambulances'%}"></i></a>
                    <h6 id="button_homepage_module_title">Ambulance</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'bloods'%}">
                        <i class="bi bi-prescription2"></i></i></a>
                    <h6 id="button_homepage_module_title">Blood</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'organs'%}">
                        <i class="bi bi-lungs-fill"></i></a>
                    <h6 id="button_homepage_module_title">Organ<Ambulance/h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'services'%}">
                        <i class="bi bi-pc-display"></i></a>
                    <h6 id="button_homepage_module_title">Service</h6>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-12 P-2 m-2 mb-3" id="button_homepage_module">
                    <a id="button_homepage_module_icon" href="{% url 'payments'%}">
                        <i class="bi bi-credit-card"></i></a>
                    <h6 id="button_homepage_module_title">Payment</h6>
                </div> 
                
            </div>
        </div>
        

        <!--login and signup -->
        <div class="col-lg-4 col-md-12 col-sm-12 text-center" id="homepage_row_column2">

           <!--login -->
            <form class="p-2 mt-4 mb-4 ms-1 me-2 text-center"  id="homepage_row_column2_form">

                <h4 class="mb-4 pt-2 fw-bold" style="color: #00a6b4;" id="login_heading">
                   Please Login to Your Account
                </h4>

                <div class="row text-center m-1" id="homepage_row_column2_form_login_row1">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_login_user">
                        <input type="email" id="" class="form-control" 
                        placeholder="User/Email/Phone" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_login_password">
                        <input type="password" id="" class="form-control" 
                        placeholder="Password" />
                    </div>
                </div>

                <div class="row text-center" id="homepage_row_column2_form_login_row2 ">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 col d-flex justify-content-center mb-2" id="form_login_remember">
                        <div class="form-check">
                            <input class="form-check-input" style="color: #00a6b4;" type="checkbox" value="" id="rememberme" checked />
                            <label class="form-check-label" for="rememberme"> Remember me </label>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2" id="form_login_forgotpassword">
                        <a class="text-decoration-none col d-flex justify-content-center" href="#!">Forgot password?</a>
                    </div>
                </div>

                <div class="row text-center m-3" id="homepage_row_column2_form_login_row3">
                    <button class="btn btn-block btn-primary" id="button_login_signup" style="background-color: #ffffff;" 
                    type="submit">Login</button>
                </div>

                <hr class="my-4 m-4">

                <div class="row text-center m-2" id="homepage_row_column2_form_login_row4">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 form-outline text-center mb-1" id="form1_login_google">
                        <button class="btn btn-block btn-primary" id="button_login_signup" style="background-color: #ffffff;"
                        type="submit"><i class="bi bi-google me-2"></i>Login with google</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 form-outline text-center mb-1" id="form_login_facebook">
                        <button class="btn btn-block btn-primary mb-2" id="button_login_signup" style="background-color: #ffffff;"
                        type="submit"><i class="bi bi-facebook me-2"></i>Login with facebook</button>
                    </div>
                </div>

            </form>
            
            <!--signup -->
            <form class="p-2 mt-4 mb-4 ms-1 me-2 text-center"  id="homepage_row_column2_form">

                <h4 class="mb-4 pt-2 fw-bold" style="color: #00a6b4;" id="signup_heading">
                   Create New Account
                </h4>

                <div class="row text-center m-1" id="homepage_row_column2_form_signup_row1">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_name">
                        <input type="email" id="" class="form-control" 
                        placeholder="Name" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_gender">
                        <input type="password" id="" class="form-control" 
                        placeholder="Gender" />
                    </div>
                </div>

                <div class="row text-center m-1" id="homepage_row_column2_form_signup_row2">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_phone">
                        <input type="email" id="" class="form-control" 
                        placeholder="Phone Number" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_email">
                        <input type="password" id="" class="form-control" 
                        placeholder="Email Address" />
                    </div>
                </div>

                <div class="row text-center m-1" id="homepage_row_column2_form_signup_row3">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_birth_date">
                        <input type="email" id="" class="form-control" 
                        placeholder="Date of Birth" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_nid_berth_ertificate">
                        <input type="password" id="" class="form-control" 
                        placeholder="NID/Birth Certificate" />
                    </div>
                </div>

                <div class="row text-center m-1" id="homepage_row_column2_form_signup_row4">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_account_type">
                        <input type="email" id="" class="form-control" 
                        placeholder="Account Type" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_purpose">
                        <input type="password" id="" class="form-control" 
                        placeholder="Purpose" />
                    </div>
                </div>

                <div class="row text-center m-1" id="homepage_row_column2_form_signup_row5">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_user">
                        <input type="email" id="" class="form-control" 
                        placeholder="Username " />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-outline mb-2" id="form_signup_password">
                        <input type="password" id="" class="form-control" 
                        placeholder="Password" />
                    </div>
                </div>
                
                <div class="row text-center m-3" id="homepage_row_column2_form_signup_row6">
                    <button class="btn btn-block btn-primary" id="button_login_signup" style="background-color: #ffffff;" 
                    type="submit">Sign Up</button>
                </div> 

            </form>

        </div>

    </div>   
{% endblock home_page %}
